<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TicTacToe</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style/style.css">
        <link rel="stylesheet" href="/style/game.css">
        <link rel="icon" href="/assets/play.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Game page">
    </head>
    <body>
        <header>
            <div id="header">
                <div id="currently-playing-player" class="header-text">Anonymous</div>
                <div id="player-char" class="header-text">X</div>
            </div>
        </header>
        <main>
            <div id="popup" class="popup z-1">
                <div class="popup-content">
                    <label for="player-name-input">Enter your name</label>
                    <input class="box-element" type="text" id="player-name-input"/>
                    <button id="enter-name-button" class="introduction-box-button box-element" onclick="queryName()" disabled>Enter</button>
                </div>
            </div>
            <div id="win-popup" class="popup z-2 hide">
                <div class="popup-content">
                    <div id="winning-player-name"></div>
                    <div id="winning-player-symbol"></div>
                </div>
            </div>
            <div class="box-element" id="playground-grid-container">
                <div id="playground-grid" class="game-grid">
                </div>
            </div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
        <script src="/script/gamecontrols.js"></script>
    </body>
</html>